<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Düzce Üniversitesi</title>


    

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->


    <script type="text/javascript" src="js/banzhow.js"></script>
</head>


<body>
    <style>
  
        p, h1, h2, h3, h4, a {
            color: white;
            font-family: 'Century Gothic'
        }
       

        body {
            background-color:#0D2F4B;
        }

    </style>
    <header>
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/home/index">Düzce Üniversitesi</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/index">Anasayfa</a></li>
                        <li><a href="/home/proje">Projeler</a></li>


                        <li><a href="/Home/İletisim">İletişim</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Öğrenciler<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/meb">Muhammed Esad Bacacı</a></li>
                                <li><a href="/Home/sek">Şahin Emircan Keleş</a></li>
                                <li><a href="/Home/mc">Mehmet Ceydelioğlu</a></li>

                            </ul>
                        </li>






                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a class="footer-brand" href="/home/index">Düzce Üniversitesi</a>
                    <p>Düzce Üniversitesi Web Programlama  Ahmet Albayrak</p>
                    <ul class="list-inline list-unstyled social-networks">
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-facebook normal">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-twitter normal">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-google-plus normal">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-youtube normal">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-linkedin normal">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-pinterest normal">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3>İletişim</h3>
                    <address>
                        <i class="fa fa-map-marker"></i> Düzce<br>
                        <i class="fa fa-phone"></i>+90-000-000-0000<br>
                        <i class="fa fa-envelope"></i> duzce.edu.tr
                    </address>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>Son Tweetler</h3>
                    <ul class="latest-tweets">
                        <li>
                            <i class="fa fa-twitter"></i> Atılan tweetler yakında
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>E-posta gönder</h3>
                    <p>Bize Ulaşın</p>
                    <div class="input-group">
                        <input type="text" placeholder="Email" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Gönder!</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->
    </footer>

    <div class="footer-after">
        <div class="container">
            <div class="row">
                <p class="col-md-10">©2021 Tüm Hakları Saklıdır.</p>

            </div><!-- /.row -->
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
