
<div class="text-center">
    <h3> Hoşgeldiniz !</h3>
    <h4>Yeni projemiz için çalışma arkadaşları arıyoruz ! Projemiz için çalışacak arkadaşlarımızda aradığımız özellikleri aşağıda belirttik.. Sizde bizimle çalışmak isterseniz lütfen formu doldurunuz</h4>
    
    <a class="btn btn-primary" asp-action="RsvpForm">Başvuru Formu</a>

    <style>
       p,h1,h2, h3, h4, ul, li, a
        {
           color:white;
            font-family: 'Century Gothic'
        }
       
    </style>





    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-rocket"></i>
                    </div>

                    <div class="block-body">
                        <h2 style="font-family:'Century Gothic';">Analitik düşünebilen ve çabuk karar verebilen</h2>
                        <div class="line-subtitle"></div>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-users"></i>
                    </div>

                    <div class="block-body">
                        <h2 style="font-family:'Century Gothic';">Ekip çalışmasına uygun ve deneyimli</h2>
                        <div class="line-subtitle"></div>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-cog"></i>
                    </div>

                    <div class="block-body">
                        <h2 style="font-family:'Century Gothic';">C# ve Asp.net dillerine hakim olan</h2>
                        <div class="line-subtitle"></div>
                        <p></p>
                    </div>
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored home">

        <div class="container">

            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <h2>Bizimle İletişime Geçin</h2>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a href="/Home/İletisim" class="btn btn-danger btn-lg">İletişim</a>
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->

    </div><!-- /.section-colored -->

   <br />
   <br /><br />
</div>
