<div class="row">

    <div class="col-md-7 col-sm-7">
        <a href="portfolio-item.html"><img class="img-responsive" src="~/img/portfolio_1.png" alt="Portfolio 1"></a>
    </div>

    <div class="col-md-5 col-sm-5">
        <h3>Masaüstü Uygulaması</h3>
        <h4>C# tabanlı</h4>
        <p>Müşterilerimize istedikleri şekilde masaüstü uygulamaları geliştiriyoruz</p>
        <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
    </div>

</div>

<hr>

<div class="row">

    <div class="col-md-7 col-sm-7">
        <a href="portfolio-item.html"><img class="img-responsive" src="~/img/portfolio_2.png" alt="Portfolio 2"></a>
    </div>

    <div class="col-md-5 col-sm-5">
        <h3>Mobil Uygulama</h3>
        <h4>Android ve IOS</h4>
        <p>İstediğiniz mobil uygulama projesini geliştiriyoruz.</p>
        <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
    </div>

</div>

<hr>

<div class="row">

    <div class="col-md-7 col-sm-7">
        <a href="portfolio-item.html"><img class="img-responsive" src="~/img/webportfolio.png" alt="Portfolio 3"></a>
    </div>

    <div class="col-md-5 col-sm-5">
        <h3>Web Tasarımı</h3>
        <h4>Responsive ve Yenilikçi</h4>
        <p>Firmanıza veya size özel responsive ve modern web siteleri tasarlıyoruz.</p>
        <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
    </div>

</div>
<br />




